.custom-nav {
    background-color: #a54343 !important; /* Tom de vermelho da imagem */
    padding: 15px 0;
}

.custom-nav .navbar-brand, .custom-nav .nav-link {
    color: white !important;
    font-weight: bold;
    text-transform: uppercase; 
}

.custom-nav .nav-link:hover {
    color: #dddddd !important;
}

.banner{
    padding: 10%;
    background-image: url(assets/banner.png);
    background-size: cover;
    color: white !important;
    font-weight: bold;
}

.raposa{
    display: none;
}
.sobre{
    margin-top: 50px;
}
.sobre .border{
    border-color: #a54343 !important;
}

/* Estilização refinada para o card de serviço */
.servicos .card {
    border: 1px solid #dee2e6 !important; /* Bordas finas e cinzas */
    box-shadow: 0 4px 6px rgba(0,0,0,0.05); /* Sombra bem leve */
    transition: transform 0.3s ease;
    margin: 0 auto; /* Centraliza o card se a coluna for maior */
}



.servicos .card img {
    align-items: center;
    width: auto;
}

.servicos .card-title {
    color: #333;
    font-size: 1.1rem;
}

.servicos .card-text {
    font-size: 0.9rem;
    color: #666;
}

/* zoomPortfólio ao passar o mouse */
.portifolio img, .servicos .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portifolio img:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.accordion-button:not(.collapsed) {
  background-color: #880015; 
  color: #fff;
}

.accordion-button::after {
  filter: invert(0.3);
}

footer{
    background-color: #a54343;
    padding: 20px;
    color: white !important;
    text-transform: uppercase; 
}


.social-icon {
    background-color: #333; 
    color: white;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}
.social-icon:hover {
    color: #ccc;
    opacity: 0.9;
}

.direitosreservados{
    background-color: black;
    color: white;
}

.redes{
    justify-content: end ;
}


.btn-primary {
    transition: all 0.3s ease;
    border: none;
    background-color: #a54343; 
}

.btn-primary:hover {
    background-color: #880015;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(165, 67, 67, 0.4);
}

/* Evitar que os elementos "pisquem" antes da animação carregar */
 .servicos, .portifolio, .banner .col-lg-6 {
    visibility: hidden;
}


@media only screen and (max-width: 987px) {
.raposa{
    display: block;
}

.sobre h2{
    margin-top: 30px;
}
.portifolio h2{
    margin-top: 5px;
}

.servicos .foto{
    margin:10px;
}

.textosobre{
    margin-top: 10px;
}

footer .redes{
    justify-content: center;
}
}